body {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color: white;
}

.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.hero span {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.hero span h1 {
  font-size: 3.5em;
  align-self: flex-start;
}

.hero span h2 {
  font-size: 2.2em;
}

.hero img {
  height: 58%;
  width: 58%;
}

.hero div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.logo-codename {
}

.logo-kano {
}

@media (max-width: 1920px) { 
  .hero img {
    height: 720px;
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .hero img {
    height: 540px;
    width: 960px;
  }
}

@media (max-width: 960px) {
.hero img {
height: 360px;
width: 640px;
}
}

@media (max-width: 640px) {
.hero img {
height: 270px;
width: 480px;
}
}
