body {
  font-family: 'Bungee Inline', cursive;
  font-size: 16px;
  color: white;
}

.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 4em;
}

.hero h2 {
  font-size: 3em;
}

.hero img {
  height: 58%;
  width: 58%;
}

.hero div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
