body {
  font-family: 'Press Start 2P', cursive;
  font-size: 22px;
  line-height: 1.5em;
  color: white;
}

div, img, table {
  max-width: 100%;
}

.fp-tableCell {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

#section0{
  background: -webkit-gradient(linear, top left, bottom left, from(#181a1b), to(#252829));
  background: -webkit-linear-gradient(#181a1b, #252829);
  background: linear-gradient(#181a1b,#252829);
}

#section1{
  background-color: #252829;
}

#section2{
  background: -webkit-gradient(linear, top left, bottom left, from(#252829), to(#3d4143));
  background: -webkit-linear-gradient(#252829, #3d4143);
  background: linear-gradient(#252829,#3d4143);
}

#section3{
  background-color: #3d4143;
}

.hero {
  flex: 1 1 auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  margin: 0.4em;
}

.hero-uvgd-presents {
  flex: 1 4 auto;
  max-width: 300px;
}

.hero-ggj-logo {
  flex: 1 1 auto;
  padding: 2em;
}

.hero-sponsored-by {
  flex: 1 1 auto;
}

.hero-sponsor-logos {
  flex: 1 4 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.hero-sponsor-logos * {
  padding: 1em;
}

.hero-logo-kano, .hero-logo-igda  {
  max-width: 200px;
}

.hero-logo-codename {
  max-width: 400px;
}

.logo {
  margin-left: 1em;
}

.about {
  font-size: 0.9em;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
}

.blurb {
  width: 900px;
  margin: 7px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.blurb-text {
  padding: 7px;
  text-align: justify;
}

.whats-the-global-game-jam, .how-do-i-sign-up{
  max-width: 80%;
}

.register {
  flex: 0 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.registration-fee {
  color: green;
}

.register-link {
  underscore: none;
  color: black;
  font-size: 2em;
  padding: 10px 25px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #636F8F;
  background: #FFF024;
}

.register-link:hover {
  color: #009CFF;
}

.schedule {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#timer {
  padding-left: 20px;
  font-size: 0.7em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  align-self: flex-start;
}

#timer div {
  line-height: 0.7em;
  height: 0.7em;
}

.schedule-heading {
  font-size: 2.5em;
  align-self: stretch;
}


.tg {

  font-size: 0.6em;
  margin: 20px;
  color: white;
  border-collapse:collapse;
  border-spacing:0;
}

.tg td {
  width: 50px;
  padding:7px;
  overflow:hidden;
  word-break:normal;
  border: 1px dotted gray;
}

.tg tr:last-child td {
  border-bottom: none;

}

.tg tr:first-child {
  border-top: 1px solid white;
}

.tg tr:last-child {
  border-bottom: 1px solid white;
}

.tg td:first-child {
  border-left: 1px solid white;
}

.tg td:last-child {
  border-right: 1px solid white;
}

.tg th {
  padding:7px;
  border: 1px solid white;
  overflow:hidden;
  word-break:normal;
}

.tg .tg-yw4l {
  vertical-align:top;
}

.contact {
  font-size: 0.9em;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.contact p {
  background-color: rgba(50, 50, 50, 0.7);
  padding: 0.8em;
  border: 2px outset #1E6999;
  border-radius: 9px;
  z-index: 2;
}

.press-kit {
  height: 76px;
  width: 319px; 
}

.contact-blurb {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 900px;
}

.contact-words {
  height: 76px;
  width: 250px;
}

.cat {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 0;
}

