body {
  font-family: 'Bungee Inline', cursive;
  font-size: 40px;
}

.hero {
  display: flex;
  content: row nowrap;
  justify-content: center;
}

@media (max-width: 1920px) { 
  .hero img {
    height: 720px;
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .hero img {
    height: 540px;
    width: 960px;
  }
}

@media (max-width: 960px) {
  .hero img {
    height: 360px;
    width: 640px;
  }
}

@media (max-width: 640px) {
  .hero img {
    height: 270px;
    width: 480px;
  }
}

.about {
}

.schedule {

}

.rules {

}

.contact {

}

h1 {
  font-size: 1.6em
}

h2 {
  font-size: 1.3em
}
